.button-link {
  margin-top: 35px;
}

.text-center h2 {
  margin-bottom: 0;
}

.navbar-right {
  margin-right: 0px;
}

.tags {
  padding-right: 5px;
}

.jumbotron {
  padding-bottom: 0px;
}

.jumbotron a {
  font-size: 16px;
}

.modal-dialog {
  margin: 200px auto;
}

.img {
  max-width: 350px;
  max-height: 350px;
  margin: auto;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .mobile {
    text-align: center;
    float: none !important;
  }
  .space {
    margin-bottom: 20px;
  }
  .block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
