.jumbotron {
  padding-bottom: 0px;
}

.jumbotron a {
  font-size: 16px;
}

.project-logo {
  height: 250px !important;
  width: 250px !important;
  display: block !important;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .mobile {
    text-align: center !important;
    float: none !important;
  }
  .block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
