.prof-description {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: justify;
}


/* Mobile */
@media only screen and (max-width: 600px) {
  .prof-description {
    text-align: center !important;
    text-indent: 0 !important;
  }
  .historic {
    text-align: center !important;
    text-indent: 0 !important;
  }
}

.img-team {
  height: 250px !important;
  width: 250px !important;
  display: inline !important;
  margin-bottom: 20px;
}

.team-description {
  margin-bottom: 30px;
}

.jumbotron {
  padding-bottom: 0;
  padding-top: 20px;
}

.historic {
  text-align: justify;
  text-indent: 50px;
  line-height: 1.4;
  margin-bottom: 20px;
  font-size: 18px;
  color: black;
  background-color: blank;
}

.font {
  color: black;
  font-size: 18px;
}

.font > a {
  color: black;
}

.font > a:hover {
  color: black;
  text-decoration: none;
}

.not-found {
  padding-left: 10px;
}
